quake3:
    image: inanimate/quake3
    restart: always
    ports:
        - "27960:27960/udp"
    volumes:
        - /home/example/pak0.pk3:/usr/share/games/quake3/baseq3/pak0.pk3
        - ./server.cfg:/usr/share/games/quake3/baseq3/server.cfg
