// Optimized for easy, simple and fun with a few friends
// Note: These are best effort and were mostly verified with /rcon cvarlist.
// However, some may not apply or are tuned differently because of ioquake3!

seta sv_hostname "MyQuake3Server"
seta dedicated 1 // lan mode, use 2 for internet mode
seta sv_maxclients 16
seta g_motd "Welcome to My Quake3 Server."

// Perf enhancements
seta sv_fps 125 // set snaps on client to same value
seta com_zoneMegs 128 // memory for engine code etc.
seta com_hunkMegs 256 // main memory availability
seta sv_maxrate 0 // dont set limit server-side

// rcon and other server level configs
seta rconpassword "mps"
seta bot_nochat 1
seta g_log server.log
seta logfile 3
seta bot_enable 1
seta g_allowVote 1 // allow users to vote

// Limits, either time, kills, or captured flags
seta timelimit 7
seta fraglimit 20
seta capturelimit 2

// Game Type!
seta g_gametype 3
            //	0	Free for all
            //	1	Tournament
            //	2	Free for all deathmatch (Team Arena)
            //	3	Team deathmatch
            //	4	Capture the Flag
            //	5	One Flag Capture        (Team Arena)
            //	6	Overload                (Team Arena)
            //	7	Harvester               (Team Arena)

// Map cycle
set d1 "map q3dm1 ; set nextmap vstr d2"        // Arena Gate
set d2 "map q3dm2 ; set nextmap vstr d3"        // House of Pain
set d3 "map q3dm3 ; set nextmap vstr d4"        // Arena of Death
set d4 "map q3dm4 ; set nextmap vstr d5"        // The Place of Many Deaths
set d5 "map q3dm5 ; set nextmap vstr d6"        // The Forgotten Place
set d6 "map q3dm6 ; set nextmap vstr d7"        // The Campgrounds
set d7 "map q3dm7 ; set nextmap vstr d8"        // Temple of Retribution
set d8 "map q3dm8 ; set nextmap vstr d9"        // Brimstone Abbey
set d9 "map q3dm9 ; set nextmap vstr d10"       // Hero's Keep
set d10 "map q3dm10 ; set nextmap vstr d11"     // The Nameless Place
set d11 "map q3dm11 ; set nextmap vstr d12"     // Deva Station
set d12 "map q3dm12 ; set nextmap vstr d13"     // The Dredwerkz
set d13 "map q3dm13 ; set nextmap vstr d14"     // Lost World
set d14 "map q3dm14 ; set nextmap vstr d15"     // Grim Dungeons
set d15 "map q3dm15 ; set nextmap vstr d16"     // Demon Keep
set d16 "map q3dm16 ; set nextmap vstr d17"     // The Bouncy Map
set d17 "map q3dm17 ; set nextmap vstr d18"     // The Longest Yard
set d18 "map q3dm18 ; set nextmap vstr d1"      // Space Chamber
vstr d1                                         // Launch the First Map!

// Sets triggered after maps as to not get overwritten
seta g_gravity 500 // default 800
seta g_quadfactor 4 // multipler for quad something
seta g_weaponrespawn 0 // no delay in weapon respawns
seta g_weaponTeamRespawn 0 // needed for team deathmatch
seta g_friendlyFire 0 // disables so you cant hurt your friends
seta g_forcerespawn 1 // automatically respawns you back into the game when you die
seta g_teamAutoJoin 1 // auto joins you to a team
seta g_teamForceBalance 1 // auto balances teams
seta g_inactivity 0 // no inactivity timer so you dont get kicked

// Manual adding of bots. Syntax:
//   addbot name [skill] [team] [delay]
//addbot Major 2
addbot Sorlag 2
//addbot Grunt 2
//addbot Slash 2
addbot Patriot 2
